# Dependencies
node_modules/
pnpm-lock.yaml

# Build output
dist/
*.tsbuildinfo

# Test coverage
coverage/

# Storybook
storybook-static/

# Logs
rush-logs/
*.log

# IDE
.DS_Store
.vscode/
.idea/

# Temp files
*.tmp
*.temp


